body {
  overflow-x: hidden;

  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.founder {
  z-index: 1;
  width: 80%;
  height: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 400px;

  top: 50px;
}

.item {
  position: absolute;
  width: 450px;
  height: 400px;
  text-align: justify;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(30% - 200px);
  top: 0;
  border: 4px dashed rgb(174, 174, 174);
  font-size: 16px;

  background: linear-gradient(to right, #f6f0b57a, #fcb4f791);

}

.a {
  display: flex;
}

@media only screen and (max-width:1133px) and (min-width:754px) {

  .a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .founder {
    width: 90%
  }

  .buttonn {
    position: relative;
    display: flex;
    place-content: center;
    top: 100px;
  }

  .slider {
    margin-left: 100px;
  }

  .item {
    width: 60%;
    height: 80%
  }
}

@media only screen and (min-width:1133px) {

  .buttonn {
    display: flex;
    position: relative;
    margin-left: calc(73% - 20px);
    gap: 10px;
  }
}

#prev {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;

  position: relative;
  bottom: 10px;
  color: #ffffff;
  height: 50px;
  width: 50px;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: -80px;
}

#next {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  bottom: 10px;
  color: #ffffff;

  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  right: -80px;
}

@media only screen and (max-width:754px) {
  .item {
    position: absolute;
    width: 90%;
    height:110%;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left:5%;
    top: 0;
    border: 4px dashed rgb(174, 174, 174);
    font-size: 16px;
  
    background: linear-gradient(to right, #f6f0b57a, #fcb4f791);
  
  }
  .buttonn {
    position: relative;
    display: flex;
    place-content: center;
    bottom: -200px;
  }

  .founder {
    width: 90%
  }

  .a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  

  @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }



  input[type=radio] {
    display: none;
  }

  .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
  }



  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }


}



@media only screen and (max-width:911px) {
  .building {
    visibility: hidden;
    height: 0;
  }

  .im {
    visibility: none;
    height: 0;
  }

  .nav {
    visibility: hidden;
    height: 0;
  }

  .down {
    height: 60px;
    width: 80px;
  }

  .icontext1 {
    position: relative;

    top: 15px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .icon {
    height: 30px;
    position: relative;
    top: 12px;
    margin-right: 20px;
    z-index: 2;
    width: 40px;
  }

  .icontext {
    top: 40px;
    font-size: 18px;
    z-index: 2
  }

  .welcomemsg {
    visibility: hidden;
    height: 0;
  }

  .signup {
    visibility: hidden;
  }

  html {
    scroll-behavior: smooth;
    position: fixed;
    height: 100%;
    overflow: hidden;
  }

  .down {
    position: relative;
    top: -110px;
  }


  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }




  .down {
    height: 35px;
    width: 55px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: absolute;

    z-index: 5;
    top: 0;
    right: 0;
    background-color: #6a0a35;
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 60px;
  }

  .topics {
    padding: 1vw 16vw 2vw 8vw;
    ;
    cursor: pointer;
    margin-top: 4vw;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.1s;
  }




  .closebtn {
    position: absolute;
    top: 6vw;
    right: 10vw;
    font-size: 8vw;
    color: white;
  }

  .bar {
    position: absolute;
    font-size: 10vw;
    cursor: pointer;
    top: 28px;
    right: 10vw;
  }
}


@media screen and (min-width:911px) {
  .building {
    visibility: hidden;
    height: 0px;
    position: absolute;
  }

  .hamburger {
    visibility: hidden;
    height: 0;
  }

  .sidenav {
    visibility: hidden
  }

  .bradd {
    visibility: hidden;
    height: 0;
  }

  .bar {
    visibility: hidden
  }

  .brimobile {
    visibility: hidden;
    height: 0;
  }
}

body {
  width: 100%;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Ubuntu';
}

@media only screen and (min-width:911px) {}

.icon {
  height: 50px;
  margin: 20px 40px;
  float: left
}

.icontext {
  position: relative;
  top: 35px;
  left: -40px;
  font-size: 25px;
  color: black;

}


.nav {
  position: relative;
  display: flex;
  justify-content: center;
  top: 8px;
  left: -55px;


}

.navbtn {
  font-size: 22px;
  border: none;
  position: relative;
  cursor: pointer;
  background: white;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.3s;
}

@keyframes borderAnimation {
  0% {
    width: 0;
    left: 0;
  }

  100% {
    width: 75%;
    left: 0;
  }
}

.navbtn:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  border-radius: 20px;
  background: linear-gradient(to right, rgb(45, 107, 215), rgb(55, 50, 207), rgb(113, 57, 172), rgb(164, 26, 164));
  animation: borderAnimation 0.3s linear forwards;
}


.bar {
  margin: 0px 0px 0px 0px;
}

.signup {
  position: absolute;
  font-size: 20px;
  right: 40px;
  float: right;
  border: none;
  top: 40px;
  background-color: white;
  border: 1px solid purple;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  transition: 0.5s;
}

.signup:hover {
  background-color: purple;
  color: white
}

.welcomemsg {
  position: relative;
  width: 16vw;
  color: rgb(213, 36, 130);
  display: flex;
  justify-content: center;
  font-size: 1.2vw;
  font-weight: bolder;
  border: 0.2px solid black;
  margin: auto auto auto auto;
  padding: 10px 5px 10px 5px;
  border-radius: 30px;
  transition: 0.4s;
  z-index: 1;
}

.welcomemsg:hover {
  background: rgb(192, 1, 116);
  color: white;
  border: 0.2px solid white;
  padding-bottom: 12px;
}

