@media only screen and (max-width:700px)
{html{display:none;}}

body {
  overflow-x: hidden;
  
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.founder {
  z-index: 1;
  width: 80%;
  height: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 400px;

  top: 50px;
}

.item {
  position: absolute;
  width: 450px;
  height: 400px;
  text-align: justify;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  left: calc(30% - 200px);
  top: 0;
  border: 4px dashed rgb(174, 174, 174);
  font-size: 16px;

  background: linear-gradient(to right, #f6f0b57a, #fcb4f791);

}

.a {
  display: flex;
}

@media only screen and (max-width:1133px) and (min-width:754px) {
  .container{display:none}
  .a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .founder {
    width: 90%
  }

  .buttonn {
    position: relative;
    display: flex;
    place-content: center;
    top: 100px;
  }

  .slider {
    margin-left: 100px;
  }

  .item {
    width: 60%;
    height: 80%
  }
}

@media only screen and (min-width:1133px) {
  .container{display:none}
  .buttonn {
    display: flex;
    position: relative;
    margin-left: calc(73% - 20px);
    gap: 10px;
  }
}

#prev {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;

  position: relative;
  bottom: 10px;
  color: #ffffff;
  height: 50px;
  width: 50px;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: -80px;
}

#next {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  bottom: 10px;
  color: #ffffff;

  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  right: -80px;
}

@media only screen and (max-width:754px) {
  .slider {
    display: none
  }

  .founder {
    width: 90%
  }

  .a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonn {
    display: none;
  }
  
  @import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}



input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}



#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.player {
  background-color: #fff;
  border-radius: 8px;
  min-width: 320px;
  padding: 16px 10px;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.play-icon{ margin-right: 10px; }

.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #403d40;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle, .time {
  font-size: 12px;
  line-height: 16px;
  color: #c6c5c6;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #a5a5a5;
  font-weight: 500;
  margin-left: auto;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background-color: #e9efff;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #2992dc;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}
.container{display:none;}

}




html{font-family:'Ubuntu';
  scroll-behavior:smooth;}
button{font-family: 'Ubuntu';}

@media screen and (min-width:515px){
.building{visibility: hidden;height:0px;position:absolute;}
.hamburger{visibility:hidden; 
          height:0;}
.sidenav{visibility:hidden}
.bradd{visibility: hidden;height:0;}
.bar{visibility:hidden}
.brimobile{visibility:hidden;height:0;}}
body {width:100%;
  

  overflow-x : hidden;
  font-family : 'Ubuntu';
}

.icon{
  height:50px;
  margin:20px 40px ;
  float:left
}
.icontext{position:relative;
      top:35px;
      left:-40px;
      font-size: 25px;
      color:black;

}


.nav{
      position:relative;
      display:flex;  
      justify-content: center;
      top:8px;
      left:-55px;
      

}
.navbtn{font-size:22px;
      border:none;
      position:relative;
      cursor:pointer;
      background:white;
      margin-left:15px;
      margin-right:15px;
      transition:0.3s;
}
@keyframes borderAnimation {
  0% {
    width: 0;
    left: 0;
  }
  100% {
    width: 75%;
    left: 0;
  }
}

.navbtn:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  bottom:-4px;
  width: 0;
  height: 3px;
  border-radius:20px;
  background:linear-gradient(to right, rgb(45, 107, 215),rgb(55, 50, 207),rgb(113, 57, 172),rgb(164, 26, 164));
  animation: borderAnimation 0.3s linear forwards;
}


.bar{
  margin:0px 0px 0px 0px ;
}

.signup{position:absolute;
      font-size: 20px;
      right:40px;
      float:right;
      border:none;
      top:40px;
      background-color: white;
      border:1px solid purple;
      border-radius:20px;
      padding:5px 20px 5px 20px;
      transition:0.5s;}
.signup:hover{background-color:purple;
          color:white}




@media only screen and (max-width:515px){
  
  .icontext1
  {position:relative;
         
          top:-55px;}
          body{margin: 0;padding: 0;}
  .icon{height:30px;position:relative;top:12px;margin-right:20px;z-index:2}
  .icontext{top:40px;font-size:18px;z-index:2}

  
   html {scroll-behavior: smooth;
        position: fixed;
        height: 100%;
          overflow: hidden;
}    .down{position:relative;
          top:-110px;}
  .s1{border-bottom-left-radius:50px;border-bottom-right-radius:50px;}

  body {
     padding:0;
      margin: 0;
      width: 100vw; 
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
}
  
  
 
  
  .down{height:35px;width:55px;}
  
  .sidenav {
          height: 100%;
          width: 0;
          position: absolute;
   
          z-index: 4;
          top: 0;
          right: 0;
          background-color: #6a0a35;
          overflow-x: hidden;
          transition: 0.25s;
          padding-top: 60px;
  }
  
   .topics {
          padding: 1vw 16vw 2vw 8vw;
;               cursor:pointer;
          margin-top:4vw;
          text-decoration: none;
          font-size: 25px;
          color:#f1f1f1;
          display: block;
          transition: 0.1s;
  }
  
 
  

  .closebtn {position: absolute;top:6vw;right:10vw;font-size:8vw;color:white; }
  .bar{position:absolute;
      font-size:10vw;
      cursor:pointer;
      top: 28px;
      right:10vw;
  }
}
