@media only screen and (max-width:1211px) and (min-width:515px){
        .full{visibility:hidden;
                height:0;
               }
        .building{visibility:visible;}
        
}
@media only screen and (max-width:515px){
        .building{visibility:hidden;
                height:0;}
        .im{visibility:none;height:0;}
        .nav{visibility: hidden;height:0;}
        .down{height:60px;width:80px;}
        .icontext1
        {position:relative;
               
                top:-55px;}
        .icon{height:30px;position:relative;top:12px;margin-right:20px;z-index:2}
        .icontext{top:40px;font-size:16px;z-index:2}
        .welcomemsg{visibility:hidden;height:0;}
        
         html {scroll-behavior: smooth;
              position: fixed;
              height: 100%;
                overflow: hidden;
  }    .down{position:relative;
                top:-110px;}
        .s1{height:115%;}

        body {
           
            margin: 0;
            width: 100vw; 
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
  }
        
        
       
        
        
        
        .sidenav {
                height: 100%;
                width: 0;
                position: absolute;
         
                z-index: 4;
                top: 0;
                right: 0;
                background-color: #6a0a35;
                overflow-x: hidden;
                transition: 0.25s;
                padding-top: 60px;
        }
        
         .topics {
                padding: 1vw 16vw 2vw 8vw;
;               cursor:pointer;
                margin-top:4vw;
                text-decoration: none;
                font-size: 25px;
                color:#f1f1f1;
                display: block;
                transition: 0.1s;
        }
        
       
        
     
        .closebtn {position: absolute;top:6vw;right:10vw;font-size:8vw;color:white; }
        .bar{position:absolute;
            font-size:10vw;
            cursor:pointer;
            top: 20px;
            right:10vw;
        }
        .meet-thementors{
            position:relative;
            top:-30vw;
            
            }
        .meet{ margin-left:0px;
                margin-right:0px;
                text-align: center;
                font-size:12vw;}
        .meet-1{text-shadow:1px 1px 2px rgb(84, 76, 76);}
        .meet-3{text-shadow:1px 1px 2px rgb(35, 33, 33);}
        .bridging-gaps{visibility:hidden;height:0;
                    }
                    .brimobile{position:relative;
                        text-align: center;
                        font-size:3vw;
                        font-weight:900;
                      top:-30vw;}
                    
        .xplore{font-size:4vw;
                position:relative;
                height:40px;
                
        }
        .signup{visibility: hidden;}
        .buttons{display:flex;
                position:relative;
                top:-100px;
                
                justify-content: center;}
        
        .xplore{margin:0px;
                width:40vw;
                height:40px;
                padding-top:10px;
                padding:5px 5px 5px 5px;
              }
        .xplore2{visibility:visible;
                background-color:white;
                border:0.5px solid rgb(93, 93, 93);
                font-size:4vw;
                height:40px;
                padding-top:0px;
                padding-right:0px;
                width:40vw;
                color:rgb(0, 0, 0)}

        .imgmentor{display: flex;
        position:relative;
        top:-150px;
          align-items: center;
          justify-content: center;}
        .mentorimg{position:relative;
        
            top:10vw;
            
            
   
                  height:80vw;
                  width: 60vw; }

        /*---------------------section2---------*/
          .Whyus{position:relative;
                  color: yellow;
                  text-align: center;
                  font-size:10vw}
       
         .main{display:grid;
    grid-template-columns:repeat(1,90vw);
        grid-template-rows:100fr 100fr 100fr 100fr 100fr 100fr;    

        align-items: center;
        justify-content: center;
                }
    .a{background:linear-gradient(to right,#fffafa,#ebe4ff,#fff9a5);
    } h3{color:black;}
    .a span{color:black;
          }
    .a img{height:40vw;
          position:absolute;
          top:-10vw;
        right: -6vw}
    .text{text-align:center;
          margin-left:0px;}
    

    /*-----------------------section3------------*/
    .popular-courses{position:relative;
        left:0;display:flex;
                     place-content: center;
                    font-size:10vw;}
        .search-icon{position:relative;
                font-size :4vw;
                display:flex;
                justify-content: center;
                top:75px;
                margin-left:20vw;
                margin-right:20vw;
                border-radius:30px;
                border:2px dotted gray;
                }
        .course-cards{display:grid;
                
                
                justify-content: center;
                
                
                       }
        
        .card img{width:100%;
        }
        
        .card{width:90%;
                height:350px;
                
                margin-left:auto;
                margin-right:auto;
                display:block;
                align-items: center;
                justify-content: center;}
        .course-desc{position: relative;
                        left:4vw;
                        top: 10vw;}
        
        .xplore-more{font-size:5vw;
                        width:60%}
        .mentorimgs{visibility:hidden;
                height:0;}
        .social-media{visibility:hidden;}
        @media only screen and (max-width:515px){
       .pop{display:none;
        place-content: center;
        text-align: center;
        }
        .popup{width:300px;
                height:420px;
                margin-left:11vw;}
        .mentor-pop{border-radius:30%;
                position:relative;
                width:150px;
                height:150px;
                left:0px;
                right:0px;
                
                }
        .flexvw{flex-direction: column;}
        .name-head{position:relative;
                top:-50px;
                left:0px;
                }
        .jobtitle{left:auto;
                top:-80px;}
        .descrip{margin-top:-80px;
                font-size:15px;}
        }
        .mentorimgsphone{display:flex;
                        justify-content: center;
                        visibility:visible;
                        z-index:3;
                        
                        
                        }
        .mentorimgsphone .mentor-circles{height:20vw;width:20vw;
                                        border-radius:25%;}
  }
