@media only screen and (max-width:1211px) and (min-width:515px){
        .full{visibility:hidden;
                height:0;
               }
        .building{visibility:visible;}
        
}
@media only screen and (max-width:515px){
        .building{visibility:hidden;
                height:0;}
        .nav{visibility: hidden;}
        .welcomemsg{visibility:hidden}

         html {
              position: fixed;
              height: 100%;
                overflow: hidden;
  }
  
        body {
            margin: 0;
            width: 100vw; 
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
  }
        
        
       
        
        
        
        .sidenav {
                height: 100%;
                width: 0;
                position: absolute;
         
                z-index: 2;
                top: 0;
                right: 0;
                background-color: #6a0a35;
                overflow-x: hidden;
                transition: 0.25s;
                padding-top: 60px;
        }
        
         .topics {
                padding: 1vw 16vw 2vw 8vw;
;
                margin-top:4vw;
                text-decoration: none;
                font-size: 25px;
                color:#f1f1f1;
                display: block;
                transition: 0.1s;
        }
        
       
        
     
        .closebtn {position: absolute;top:6vw;right:10vw;font-size:8vw;color:white; }
        .bar{position:absolute;
            font-size:10vw;
            cursor:pointer;
            top: 6vw;
            right:10vw;
        }
        .meet-thementors{
            position:relative;
            top:-30vw;
            
            }
        .meet{ margin-left:0px;
                margin-right:0px;
                text-align: center;
                font-size:12vw;}
        .meet-1{text-shadow:1px 1px 25px rgb(84, 76, 76);}
        .meet2{text-shadow:2px 1.5px 14px #6d5f5f;    }
        
        .bridging-gaps{margin-top:-25vw;
                font-size:3.5vw;
                margin-left:0px;margin-right:0px;
                    text-align: center;}

                    
        .xplore{font-size:2.5vw;
                position:relative;
        }
        .signup{visibility: hidden;}
        .buttons{display:flex;
                justify-content: center;}
        .xplore{margin:0px;
                width:30vw;
                padding:5px 15px 5px 15px;
              }
        .xplore2{visibility:visible;
                background-color:white;
                color:Purple}

        .imgmentor{display: flex;
          align-items: center;
          justify-content: center;}
        .mentorimg{position:relative;
        
            top:-10vw;
            
            
   
                  height:140vw;
                  width: 130vw; }

        /*---------------------section2---------*/
          .Whyus{position:relative;
                  color: yellow;
                  text-align: center;
                  font-size:10vw}
       
         .main{display:grid;
    grid-template-columns:repeat(1,90vw);
        grid-template-rows:100fr 100fr 100fr 100fr 100fr 100fr;    

        align-items: center;
        justify-content: center;
                }
    .a{background:linear-gradient(to right,#fffafa,#ebe4ff,#fff9a5);
    } h3{color:black;}
    .a span{color:black;
          }
    .a img{height:40vw;
          position:absolute;
          top:-10vw;
        right: -6vw}
    .text{text-align:center;
          margin-left:0px;}
    

    /*-----------------------section3------------*/
    .popular-courses{position:relative;
                      
                    font-size:10vw;}
        .search-icon{position:relative;
                font-size :4vw;
                display:flex;
                justify-content: center;
                top:75px;
                margin-left:20vw;
                margin-right:20vw;
                border-radius:30px;
                border:2px dotted gray;
                }
        .course-cards{display:grid;
                
                
                justify-content: center;
                
                
                       }
        
        .card img{width:100%;
        }
        .card{width:90%;
                height:350px;
                
                margin-left:auto;
                margin-right:auto;
                display:block;
                align-items: center;
                justify-content: center;}
        .course-desc{position: relative;
                        left:4vw;
                        top: 10vw;}
        
        .xplore-more{font-size:5vw;
                        width:60%}
        .mentorimgs{visibility:hidden;
                height:0;}
        .social-media{visibility:hidden;}
       
        .mentorimgsphone{display:flex;
                        justify-content: center;
                        visibility:visible;}
        .mentorimgsphone .mentor-circles{height:20vw;width:20vw;
                                        border-radius:25%;}
  }
